{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Invoice</title>
    <link rel="stylesheet" href="{% static 'cssMain/bootstrap.min.css' %}">

    <style>
        body {
            margin: 25px;
        }

        tr td:nth-child(5) {
            text-align: right;
        }

        .blank_row {
            height: 37px;
        }

        thead th {
            font-size: 12px;
        }

        tbody td {
            font-size: 11px !important;
        }

        @page {
            size: A4;
            margin: 5mm;

        }

        @media print {
            body {
                margin: 5mm;
            }

            p {
                font-size: 12px;
            }

        }
    </style>
    <script src="{% static 'jsMain/jquery.min.js' %}"></script>
</head>
<body onload="myFunction()">

<div class="row">
    <div class="col-xs-12 text-center">
        <span style="float: left;">GSTIN : {{ sale.companyID.gst|upper }}</span>
        <h3 style="font-family: serif;font-weight: bold;">{{ sale.companyID.name|upper }}</h3>
        <span style="font-weight: 400">{{ sale.companyID.address|upper }} - {{ sale.companyID.zip }}</span><br>
        <span style="margin: 0;">{{ sale.companyID.state|upper }}</span><br>
        <span style="font-weight: 400">Email: {{ sale.companyID.email }}</span>
    </div>
</div>
<div class="row ">
    <p class="text-center " style="font-weight: bold"><u>TAX INVOICE ({{ sale.paymentType|upper }})</u></p>
</div>
<div class="row">
    <p class="text-right">Date: <span style="border-bottom: 1px dotted">{{ sale.invoiceDate|date:"d-m-Y" }}</span></p>
    <span class="text-left"> NAME:{{ sale.customerName|upper }}</span><br>
    <span class="text-left"> ADDRESS: {{ sale.customerAddress|upper }}</span><br>
    <span class="text-left" style="padding-left: 0">GSTIN: {{ sale.customerGst|upper }}</span><br>
    <span class="text-right"> STATE CODE: 14</span><br>
    <span style="margin-bottom: 5px;">INVOICE No. : <b>{{ sale.invoiceNumber }}</b></span> <br><br>
    <table class="table table-bordered">

        <thead>
        <tr>
            <th>Product_Description</th>
            <th>HSN <br>Code</th>

            <th>Qnty.</th>
            <th>Rate</th>
            <th>Disc %</th>
            <th>Taxable <br> Amount</th>
            <th>CGST <br> %</th>
            <th>CGST <br> Amount</th>
            <th>SGST <br> %</th>
            <th>SGST <br> Amount</th>
            <th style="text-align: right">Amount</th>
        </tr>

        </thead>
        <tbody>
        {% for foo in saleProduct %}

            <tr>
                <td>{{ foo.name }}</td>
                <td>{{ foo.hsn }} </td>

                <td>{{ foo.quantity }}</td>
                <td>{{ foo.rate }}</td>
                <td>{{ foo.disc }}</td>
                <td>{{ foo.taxableAmount }}</td>
                <td>{{ foo.cgst }}</td>
                <td>{{ foo.cgstAmount }}</td>
                <td>{{ foo.sgst }}</td>
                <td>{{ foo.sgstAmount }}</td>
                <td>{{ foo.total }}</td>
            </tr>
        {% endfor %}


        {% if left > 0 %}
            {% for l in loo %}
                <tr class="blank_row">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style="text-align: right"></th>
                </tr>
            {% endfor %}


        {% endif %}
        <tr class="blank_row">
            <td colspan="7">Total</td>

            <td>{{ IGST }}</td>
            <td></td>
            <td>{{ CGST }}</td>
            <td style="text-align: right">{{ sale.totalFinal }}</td>
        </tr>


        <tr>
            <td rowspan="2" colspan="7">
                <div class="row">
                    <div class="col-xs-4"> Mode of Payments: <br>
                        <span>{{ sale.paymentType|upper }}</span>
                    </div>
                    <div class="col-xs-8">
                        <li>Cheque No. : <span style="border-bottom: 1px dotted"></span></li>
                        <li>Draft No.:</li>
                        <li>RTGS/NEFT.:</li>
                    </div>
                </div>
            </td>
            <td colspan="3">Total GST Amount</td>
            <td class="text-right" colspan="2">{{ sale.gst }}</td>
        </tr>

        <tr>
            <td colspan="3">Other Charges</td>
            <td class="text-right" colspan="2">{{ sale.otherCharges }}</td>
        </tr>
        <tr>
            <td rowspan="3" colspan="7">
                <div class="row">
                    <div class="col-xs-3"> Declaration:</div>
                    <div class="col-xs-9">
                        <li>All dispute subject to Manipur Jurisdiction only.</li>
                        <li>Goods once sold will be not taken back.</li>
                    </div>
                </div>


            </td>

            <td colspan="3">Round Off (+/-)</td>
            <td class="text-right" colspan="2">{{ sale.roundOff }}</td>
        </tr>
        <tr>
            <td colspan="3">Discount (-)</td>
            <td class="text-right" colspan="2">{{ sale.personalDiscount }}</td>
        </tr>
        <tr>
            <td colspan="3">Total Amount</td>
            <td class="text-right" colspan="2">{{ sale.grandTotal }}</td>
        </tr>
        <tr>
            <td colspan="11">
                Total amount in words: <span style="border-bottom: 1px dotted"> {{ TotalInWords }}</span>
            </td>
        </tr>
        </tbody>
    </table>


</div>

<div class="row text-right" style="margin-top: 40px;">
    <p style="padding-right: 60px;margin: 0">For,</p>
    <p style="padding-right: 25px;"><b>{{ sale.companyID.name }}</b></p></div>
<script>
    function myFunction() {
        window.print();

    }
</script>
</body>
</html>